---
layout: default
---
<div class="home">
  {% include custom_header.html %}

  <div class="posts-column">
    <article class="post h-entry item" itemscope itemtype="http://schema.org/BlogPosting" style="border-bottom: none;">
      <header class="post-header">
        <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
        <p class="post-meta">
          <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {%- assign date_format = site.minima.date_format | default: "%b %d, %Y" -%}
            {{ page.date | date: date_format }}
          </time>
          {%- if page.author -%}
            • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
          {%- endif -%}
          {%- if page.category -%}
            • {{ site.category_names[page.category] | default: page.category }}
          {%- endif -%}
          {%- if page.referrer -%}
            • <a href="{{ page.referrer }}" target="_blank">查看原文来源</a>
          {%- endif -%}
        </p>
        {%- if page.summary -%}
          <div class="post-summary" style="margin-top: 15px; font-style: italic; color: #555; border-left: 4px solid #eee; padding-left: 15px; line-height: 1.6;">
            {{ page.summary | markdownify }}
          </div>
        {%- endif -%}
      </header>

      <div class="post-content e-content" itemprop="articleBody">
        {{ content }}
      </div>

      {%- if site.giscus.repo -%}
        {%- include giscus_comments.html -%}
      {%- endif -%}

      {%- if site.disqus.shortname -%}
        {%- include disqus_comments.html -%}
      {%- endif -%}

      <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
    </article>
  </div>

  {% include footer.html %}

  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [['$','$'], ['\\(','\\)']],
        displayMath: [['$$','$$'], ['\\[','\\]']],
        processEscapes: true
      }
    });
  </script>
  <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>
</div>
